.c-item {
    height: 652px;


}
.height.c{
    height: 50px;
}

.c-img {
    height: fit-content;
    background-color: #000
}

body {
    font-family: 'Times New Roman', Times, serif !important;
}

#carouselExampleFade {
    margin-top: -10px;
}

.carousel-item {
    background-color: #000;
}
.navbar-toggler-icon{
    background-image: var(--bs-navbar-toggler-icon-bg);

    
}
:root{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}